<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.bbs.mapper.AssemblerPostsMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.bbs.domain.AssemblerPosts">
    <id column="id" property="id" />
    <result column="account" property="account" />
    <result column="posts_name" property="postsName" />
    <result column="category" property="category" />
    <result column="publish_time" property="publishTime" />
    <result column="reply_time_end" property="replyTimeEnd" />
    <result column="reply_total" property="replyTotal" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from assembler_posts
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="deleteByAccount">
    delete from assembler_posts
    where account = #{0}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.kungreat.bbs.domain.AssemblerPosts" useGeneratedKeys="true">
    insert into assembler_posts (account, posts_name, category,
      publish_time, reply_time_end, reply_total
      )
    values (#{account,jdbcType=VARCHAR}, #{postsName,jdbcType=VARCHAR}, #{category,jdbcType=TINYINT}, 
      #{publishTime,jdbcType=TIMESTAMP}, #{replyTimeEnd,jdbcType=TIMESTAMP}, #{replyTotal,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.kungreat.bbs.domain.AssemblerPosts">
    update assembler_posts
    set posts_name = #{postsName,jdbcType=VARCHAR},
      category = #{category,jdbcType=TINYINT}
    where id = #{id} AND account = #{account}
  </update>

  <update id="updateByReply">
    update assembler_posts
    set reply_time_end = #{replyTimeEnd,jdbcType=TIMESTAMP},
      reply_total = #{replyTotal}
    where id = #{id}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, account, posts_name, category, publish_time, reply_time_end, reply_total
    from assembler_posts
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, account, posts_name, category, publish_time, reply_time_end, reply_total
    from assembler_posts
    <include refid="baseQuery"/>
    ORDER BY ${orderField} DESC
    limit #{start},#{pageSize}
  </select>

  <select id="selectCount" resultType="java.lang.Long">
    select count(*) from assembler_posts
    <include refid="baseQuery"/>
  </select>

  <select id="selectByIds"  resultMap="BaseResultMap">
     select id, account, posts_name, category, publish_time, reply_time_end, reply_total
    from assembler_posts
    where id IN
    <foreach collection="ids"  item="id" separator="," close=")"  open="(">
      #{id}
    </foreach>
  </select>

  <sql id="baseQuery">
    <where>
      <if test="account !=null and account !='' ">
        AND account = #{account}
      </if>
      <if test="category !=null and category !=0 ">
         AND category = #{category}
      </if>
      <if test="searchKeyword !=null and searchKeyword !='' ">
        AND posts_name LIKE concat("%",#{searchKeyword},"%")
      </if>
    </where>
  </sql>
</mapper>