<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.bbs.mapper.JavaDetailsRecordMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.bbs.domain.JavaDetailsRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="java_details_id" jdbcType="BIGINT" property="javaDetailsId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="total" property="total" />
  </resultMap>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.kungreat.bbs.domain.JavaDetailsRecord" useGeneratedKeys="true">
    insert into java_details_record (java_details_id, account, state
      )
    values (#{javaDetailsId,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{state,jdbcType=BIT}
      )
  </insert>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, java_details_id, account, state
    from java_details_record
  </select>

  <select id="countRecord" resultMap="BaseResultMap">
       select  java_details_id, GROUP_CONCAT(account) as account, state, count(*) as total
       from java_details_record
       where java_details_id = #{0}
       GROUP BY state ORDER BY state DESC
  </select>

  <select id="selectByPrimary" resultMap="BaseResultMap">
       select id, java_details_id, account, state
    from java_details_record
    where java_details_id = #{javaDetailsId} and account = #{account} and state = #{state}
  </select>
</mapper>