<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kungreat.bbs.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.kungreat.bbs.domain.User">
    <id column="id" property="id" />
    <result column="account" property="account" />
    <result column="password" property="password" />
    <result column="alias" property="alias" />
    <result column="phone" property="phone" />
    <result column="img" property="img" />
    <result column="is_vip" property="isVip" />
    <result column="state" property="state" />
    <result column="email" property="email" />
    <result column="description" property="description" />
    <result column="register_time"  property="registerTime" />
  </resultMap>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.kungreat.bbs.domain.User" useGeneratedKeys="true">
    insert into user (account, password, alias, 
      phone, img, is_vip, state, 
      email, description, register_time)
    values (#{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{phone,jdbcType=BIGINT}, #{img,jdbcType=VARCHAR}, #{isVip,jdbcType=BIT}, #{state,jdbcType=TINYINT}, 
      #{email,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{registerTime})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.kungreat.bbs.domain.User">
    update user
    set alias = #{alias,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      email = #{email,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where account = #{account}
  </update>

    <update id="updateImg">
      update user
      set
        img = #{path}
      where account = #{account}
    </update>

    <select id="selectByPrimaryKey"  resultMap="BaseResultMap">
    select id, account, password, alias, phone, img, is_vip, state, email, description, register_time
    from user
    where account = #{0}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, account, password, alias, phone, img, is_vip, state, email, description, register_time
    from user
  </select>
</mapper>